<u><h1>Welcome to StackChan!</h1></u>

<h2>Click on a project to go to the thread.</h2>
<h2>Or, make a project <a href="/makeProject">here!</a></h2>

<hr>

<u><h4>Projects</h4></u>
<ul>
  <% @projects.each do |project| %>
    <li>
      <a href="/projects/<%= project["id"] %>">
        Project: <%= project["title"]%>
      </a>

      <form class="votes" action="/votes" method="post">
           <input type="hidden" name="id" value="<%=project["id"]%>"></input>
           <input type='submit' value='Vote me up!'>
      </form>

      <% count = 0 %>
       <% @comments.each do |comment| %>
        <% count += 1 if comment['project_id'] == project['id'] %>
       <% end %>
       Total Comments: <%= count %>
    </li>
    <br>
  <% end %>
</ul>

